<head><link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    rel="stylesheet"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/css/style.css" />
</head>
<nav class="navbar navbar-expand-lg fixed-top custom-navbar shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <img
        src="/images/abisat-logo.jpg"
        alt="Logo"
        class="avatar-logo rounded-circle"
        style="width:40px; height:40px; object-fit:cover;"
      />
      <span
        class="fw-bold fs-4 text-light"
        style="font-family: 'Poppins', sans-serif; letter-spacing: 1px;"
      >ABISAT ET</span>
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul
        class="navbar-nav gap-3 fs-6"
        style="font-family: 'Poppins', sans-serif;"
      >
        <li class="nav-item">
          <a
            class="nav-link
              {{isActive currentPath '/'}}
              text-light nav-link-custom"
            href="/"
          >Home</a>
        </li>
        <li class="nav-item d-flex">
          <a
            class="nav-link
              {{isActive currentPath '/channel-sat'}}
              text-light nav-link-custom"
            href="/channel-sat"
          >Channel & Sat List</a>
        </li>

        {{! <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-light fw-semibold nav-link-custom"
            href="#"
            id="swLoaderDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            SW & Loader
          </a>
          <ul
            class="dropdown-menu shadow rounded-3 border-0 mt-2"
            aria-labelledby="swLoaderDropdown"
          >
            <li><a class="dropdown-item px-4 py-2 fw-medium" href="/software">📦
                Software</a></li>
            <li><a class="dropdown-item px-4 py-2 fw-medium" href="/loader">💾
                Loader</a></li>
          </ul>
        </li> }}

        <li class="nav-item">
          <a
            class="nav-link
              {{isActive currentPath '/services'}}
              text-light nav-link-custom"
            href="/services"
          >Our Services</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link
              {{isActive currentPath '/posts'}}
              text-light nav-link-custom"
            href="/posts"
          >Posts</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link
              {{isActive currentPath '/about'}}
              text-light nav-link-custom"
            href="/about"
          >About</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link
              {{isActive currentPath '/contact'}}
              text-light nav-link-custom"
            href="/contact"
          >Contact</a>
          {{!-- 
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle {{isActive currentPath '/admin'}}"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Admin Dashboard
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <li><a
                  class="dropdown-item {{isActive currentPath '/admin/upload'}}"
                  href="/admin/upload"
                >Upload</a></li>
              <li><a
                  class="dropdown-item
                    {{isActive currentPath '/admin/admin-posts'}}"
                  href="/admin/posts"
                >Admin Posts</a></li>
              <li><a
                  class="dropdown-item
                    {{isActive currentPath '/admin/admin-posts'}}"
                  href="/admin/logout"
                >Logout</a></li>
            </ul>
          </li> --}}

        </li>
      </ul>
    </div>
  </div>
</nav>