<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{title8}}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/lux/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" href="/images/all posts.jpg" type="image/x-icon" />
</head>

<body class="d-flex flex-column min-vh-100">
  {{> navbar}}

 <section class="contact-section">
  <div class="container py-5">
    <div class="text-center text-white mb-4">
      <h2 class="fw-bold text-white">Latest <span>Posts</span> 📰</h2>
    </div>

    {{#if errorMessage}}
      <div class="alert alert-danger text-center">{{errorMessage}}</div>
    {{/if}}

    <div class="row">
      {{#each posts}}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card shadow bg_color text-white h-100">
            {{#if this.image}}
                <img src="/uploads/{{this.image}}" class="card-img-top" alt="Post Image" style="height: 200px; object-fit: cover;">
            {{/if}}

            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">{{this.content}}</p>
            </div>
            <div class="card-footer text-end">
              <small class="text-light">Posted on: {{this.created_at}}</small>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

     <div class="pagination-container d-flex justify-content-center mt-4">
         {{#if (gt currentPage 1)}}
     <a href="/posts?page={{subtract currentPage 1}}" class="btn btn-outline-light btn-sm px-4">Previous</a>
         {{/if}}
    {{#if (lt currentPage totalPages)}}
     <a href="/posts?page={{add currentPage 1}}"class="btn btn-outline-light btn-sm px-4">Next</a>
        {{/if}}
     </div>
  </div>
</section>

  {{> footer}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
